.formulario {
    display: flexbox;
    align-items: center;
   justify-content: center;
    height: 600px;
    width: 600px;
    background-color: rgba(190, 161, 149, 0.521);
      flex-direction: column;
      margin: 0 auto;
      padding: 1em;
    }
    .form label{
        align-self: center;
      color: rgba(53, 10, 207, 0.863);
    }
    .image{
    height: 250px;
    width: 320px;
        background-image: url('../../../public/fondo/2e00fd3b8917dc07f89d53daf666bc10.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 100%;
    }
    .image:hover{
height: 250px;
width:320px;
        background-image: url('../../../public/fondo/b70.gif');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 100%;
    }
    
.form{
    
    align-items: center;
    text-align: right;
    justify-items: center;
    height: 30%;
    width:100%;
    border:1px solid #000;
  }
  
  .warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
  .danger {
    font-size: 10px;
    color: red;
    margin-left: 10em;
  }