.conteiner {
  width: 15em;
  height:28em;
  border-radius: 15px;
  padding: 0.1em;
   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 /* position:relative;
    padding: 0.2em;*/

}
.like{
  position: relative;
  right:40%;  
  top:-25px;
  background-color: rgba(0, 255, 255, 0.26);
  color:rgb(10, 10, 10);
  border-radius: 5px;
}
.unlike{
  position: relative;
  right:40%;  
  top:-25px;
background-color: rgba(163, 100, 16, 0.616);
border-radius: 5px;
}
 .button{
border: none;
background-color: rgba(0, 255, 255, 0);
  color:rgb(243, 5, 5);
  font-size: 20px;
  cursor: pointer;
  position: relative;
    left: 15px;
    top: 5px;

}
  h2 {
    font-size:medium;
    margin:5px;
    border: 1px;
  }
   h2:hover {
transform: scale(1.1);
transition: 1s;
   }

.cont {
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(0, 255, 255, 0.322);
  max-width: 100%;
  max-height: 100%;
  width: 80%;
  position: relative;
  overflow: hidden; 
 
}
.cont .Link{
  font-size: small;
  text-decoration: none;
  background-color: rgba(95, 160, 109, 0.493);
  left: 3px;  
  top:-5px;
position: absolute;
border-radius: 5px;
}
.cont .id{
  right:5px;  
  bottom:80px;
position: absolute;
background-color: rgba(163, 100, 16, 0.616);
border-radius: 5px;
}
.cont img{
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 5%;


}
.cont:hover img{
  transform: scale(1.1);
  transition: 1s;
  overflow: hidden;
} 


.cont .name{
  background-color: rgba(156, 160, 95, 0.829);
  left: 5px;  
  top:5px;
  border-radius: 5px;
position: absolute;
}
.info{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
  background-color: rgba(156, 160, 95, 0.829); 
  margin: 0.2em;
  width: 90%;

}