.cont{
    display: flex;
    justify-content: right; 

margin-right: 5em;
}
.cont form{
height: 1em;

}
.cont .boton{
  background-color: rgba(174, 9, 196, 0.432);
  height: 3em;
  margin:0.2em;

}
.cont input{
    background-color: rgba(255, 228, 196, 0.082);
    border: none;
    height: 3em;
    border-radius: 5px;
    margin:0.2em;
}