.container{
    display: flex;
    flex-wrap: wrap;
 
    background-color: rgba(127, 255, 212, 0.116);
background-image: url('../../../public/fondo/logo.png');
background-repeat:no-repeat;
background-position: left;
background-size: 20%;
}
.container .button{
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgba(255, 228, 196, 0.082);
}